body{
    color:black;
    background-color: #aba9a9;
}

header {
    color: crimson;
}

h2 {
    color: azure;
}

section {
    color: aliceblue;
    background:#2b2b2b3b;
    padding-top: ;
    padding-bottom: ;
    display: ;
    justify-content: ;
}